.user {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 250px;

    align-items: center;
}

.user p {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.user-img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}